.container {
  display: flex;
  flex-direction: column;

  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  gap: 15px;
}

.form {
  display: flex;
  flex-direction: column;

  gap: 8px;
}

.inputs {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-self: center;
}
