* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-image: url(./Public/background.png); */
}

.container {
  width: 100vw;
  height: 100vh;
  /* color: white; */
}

.header {
  display: flex;

  margin: 15px auto;
  width: 600px;
  justify-content: space-between;
  align-items: center;
  background-color: brown;
}
